@inherits ComponentBase

<div class="d-flex justify-content-around my-3">
    <div class="d-flex flex-row align-items-center align-content-center ">
        <div class="spinner-border m-2" role="status"></div>
        <h3 class="m-2">Loading....</h3>
    </div>

</div>