@inherits ComponentBase

<div class="d-flex">
    <input @onchange="args => OnChangedInputQuery(args.Value?.ToString())" class="form-control" type="search" placeholder="Пошук @Filters[SelectedIndex]" aria-label="Search">
    <div class="dropdown">
        <button @onclick="ChangeDisplay"
                class="btn btn-outline-warning mx-1 dropdown-toggle"
                id="search-dropdown-button" data-toggle="dropdown" aria-haspopup="true"
                type="button" aria-expanded="false">
            @FilterButtonName
        </button>
        <div class="dropdown-menu @_display" aria-labelledby="search-dropdown-button">
            @foreach (var filter in Filters)
            {
                <a value="@filter" @onclick="() => { OnChangedIndex(filter); ChangeDisplay(); }" class="dropdown-item">@filter</a>
            }
        </div>
    </div>

</div>

@code {

    private string _display = "d-none";
    private const string FilterButtonName = "Фільтри";

    private void ChangeDisplay()
    {
        _display = _display == "d-none" ? "d-block" : "d-none";
    }
}
